* {
	box-sizing: border-box;
}
html{
	font-family: sans-serif;
}

#timer  {
	font-size: 70px;
}

#timer i {
	margin-right: -7px;
}

button#start, button#break {
	margin-bottom: 20px;
	height: 50px;
	font-size: 30px;
	line-height: 10px;
}



